
.crossed-line {
    position: relative;
    display: inline-block;
    font-size: 12px !important;
  }
  
  .crossed-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: red;
    transform:  rotate(8deg);
    width: 70px;
    
  }


.get-started-button-basic {
  background-color: #3498db; 
  color: #fff;
}

.get-started-button-standard {
  background-color: #2ecc71; 
  color: #fff;
}

.get-started-button-premium {
  background-color: #e74c3c; 
  color: #fff;
}
@media (max-width: 440px) {
  .mb-2{
    margin: 0px !important;
  }

 
}
@media (max-width: 540px) {
  .mb-2{
    margin: 0px !important;
  }

 
}
  
  
  