.card_2{
  margin: 0px 20px;
  /* padding-bottom: 10px; */
  display: flex;
  justify-content: space-between;
}
.main_card2{
  width: 32rem !important;
  margin-left: 80px;
}
.d-flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  
  
  
  @media (max-width: 1200px) {
    .d-flex {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
   
  }
  
   @media (max-width: 840px) {
    .card_2{
      margin: 10px 20px;
      margin-bottom: 0px !important;
      padding-bottom: 10px;
      display: block;
      justify-content: space-between;
    }
    .main_card2{
      width: 20rem !important;
      margin-left: 80px;
    }
    .card_body{
      margin-top: 0px !important;
    }
    .sub_div{
      padding: 20px 0 !important;
    }
  } 
  
  
  